
body{
  /* background-image: url('./choice-logo-zip-file/svg/logo-no-background.svg'); */
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 40vh;
  background-position-y: 10vh;
}

h1 {
  
  
  text-align: center;
  color: #881010;
  background-color: gray;
  width: 80%;
  margin: auto;
  
}
    

.list-a {
  margin: auto;
  margin-top: 20px;
  background-color: lightblue;
  border: solid;
  border-color: black;
  width: 60%;
}

.mylogo {
  display: inline;
  margin: auto;
  width: 5%;
}

.container-main {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center; */
  width: 100%;

}
.team-list{
  position: absolute;
  right: 10px;
  top: 250px;
  background-color: rgba(173, 216, 230, 0.856);
  font-size: 25px;
  border: solid;
  border-color: black;
  width: 40%;
  height: 60%;

}